.t1{
    width: 370px;
    height: 324px;
    font-family: Poppins;
    font-weight: 700;
    font: Bold;
    font-size: 72px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #fec3c7;
    margin: 0;
    
}
.create{
    color:#9ad7f3;
    
}
.inspire{
    color: #6bdfda;}
    .t2{
        width: 449px;
        height: 144px;
        font-family: Poppins;
        font-weight: 400;
        font: Regular;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0%;
        color: #FFFFFF;
        margin: 0;
    }
    .button{
        width: 182px;
        height: 66px;
        background:#FFFFFF;
        border-radius: 36px;
        font-family: Poppins;
        font-weight: 400;
        font: Regular;
        font-size: 24px;
        line-height: 18px;
        letter-spacing: 0%;
        color: #232323;
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        padding-top: 100px;
        padding-left: 132px;
        padding-bottom: 100px;
        
    }
    .image{
        width: 172px;
        height: 192px;
        border-radius: 40px;
    }
    .right{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-left: 50px;
        
    }