@font-face {
    font-family: avenir;
    src: url(./Avenir/AvenirRegular/AvenirRegular.ttf);
   }
    .text01 {
        width: 660px;
        
        font-weight: 800;
        font: Heavy;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0%;
        color: #252525;
         margin: 0;
         padding-top: 50px;
         font-family: avenir;
         
    }
    .text02{
        width: 607px;
        height: 108px;
        font-weight: 400;
        font: Roman;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #676767;
         margin: 0;
         padding-top: 20px;
         font-family: avenir;
        
    }
    .button{
        background-color: #252525;
        height: 54px;
        width: 158px;
        border-radius: 16px;
        gap: 10px;
        font-weight: 400;
        font: Roman;
        line-height: 18px;
        letter-spacing: 0%;
        color: #FFFFFF;
    }
    .topics{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
       
    }
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 50px;
        gap: 20px;
    }
